server:
  port: 8081
  servlet:
    context-path: /system
spring:
  datasource:
    url:  jdbc:mysql://localhost:3306/demo?useUnicode=true&characterEncoding=utf-8&useSSL=false
    driver-class-name: com.mysql.jdbc.Driver
    username: root
    password: 123456
  thymeleaf:
    cache: false
    encoding: UTF-8

mybatis:
  config-location: classpath:mybatis/mybatis-config.xml





