<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>

	<meta charset="UTF-8"/>
	<title>编辑文章</title>


	<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>


	</head>

<body class="container">
<br/>
<h1>编辑文章</h1>
<br/><br/>
<div class="with:80%">


	<form id="pic" th:action="@{/uploadPic}"  onsubmit="false" >
		<input id="file" type="file" name="file" style="display: none" onchange="uploadPic()"/>
	</form>
	<form  id="from"  th:action="@{/article/save}" th:object="${article}" onsubmit="return fromSubmit()"  method="post">

		<input type="hidden"  name="id" th:value="*{id}"   id="id"  />
		<input type="hidden" name="picPath" value="" th:value="*{picPath}" id="picPath" />
		<div style="margin-top:50px" class="input-group input-group-lg">
			<span class="input-group-addon" >
				<div id="picDiv" >
					<img id="showpic" th:src="*{picPath}"  width="25" height="25" />
				</div>
			</span>
			<input type="text" th:value="*{title}" placeholder="标题" name="title" id="title" class="form-control">
		</div>
	<textarea class="ckeditor" id="content" name="content" th:text="*{content}"></textarea>


	<div style="margin-top:20px"  >
		<button id="submit" type="submit" class="btn btn-info">保存</button>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<button type="button" class="btn" onclick="clickFile()">上传缩略图</button>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<button th:href="@{/article/index}" id="back" class="btn">返回</button>
	</div>
	</form>




</div>


</body>



	<script th:src="@{/jquery/jquery-3.3.1.js}"></script>
	<script th:src="@{/bootstrap/js/bootstrap.js}"></script>
	<script th:src="@{/ckeditor/ckeditor.js}"></script>
	<script th:src="@{/ckeditor/config.js}"></script>
	<script th:src="@{/ckeditor/samples/js/sample.js}"></script>

<script>

	$(
        CKEDITOR.replace('content')
	);


    function fromSubmit(){


        if($("#picPath").val()==''){
            alert("请上传缩略图");
			return false;
		}
        if(CKEDITOR.instances.content.getData()==""){
            alert("内容不能为空！");
            return false;
        }
        if($("#title").val()==''){
            alert("请填写标题");
            return false;
        }
		return true;
    }

    function clickFile(){
        $("#file").click()
	}

    function uploadPic(){
        var url = $("#pic").attr("action");
        var formData=new FormData();

        formData.append("file",document.getElementById("file").files[0]);

        $.ajax({
            url: url,
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            success: function (data) {
                var obj =  eval('(' + data + ')');;
                if (obj.result =='true'){
					$("#picPath").val("/system/"+obj.picUrl);
					$("#showpic").attr("src","/system"+obj.picUrl);
				}

            }
        });

	}

</script>

</html>